.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border: none;
}

.recipesList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-button {
  background-color: violet;
  border: none;
  padding: 10px 20px;
  color: white;
}

.site-header {
  padding: 50px;
  font-size: xx-large;
  font-weight: 900;
  }