.App {
  text-align: center;
  min-height: 100vh;
  background-image: url(https://st2.depositphotos.com/3283585/6045/v/950/depositphotos_60459125-stock-illustration-vector-pattern-with-hand-drawn.jpg);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border: none;
}

.recipesList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-button {
  background-color: brown;
  border: none;
  padding: 10px 20px;
  color: white;
}

.site-header {
  padding: 30px;
  margin-bottom: -10px;
  font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  }

